/* secretary-dashboard.css */
.dashboard-container {
  background-color: #eaf6ff;
}

.content-wrapper {
  min-height: 80vh;
}

/* navbar-secretary.css */
.bg-green {
  background-color: #2e7d32 !important; /* Vert moderne */
}

.navbar-brand {
  letter-spacing: 1px;
}

.nav-link {
  font-size: 17px;
  transition: 0.2s;
}

.nav-link:hover {
  color: #c8ffdb !important;
}

.logout-btn {
  background: white;
  border: 2px solid #2e7d32;
  padding: 6px 16px;
  border-radius: 20px;
  font-weight: bold;
  color: #2e7d32;
  transition: 0.2s;
}

.logout-btn:hover {
  background: #1b5e20;
  color: white;
}
